/* profile section */
.profile-section {
  width: 100%;
  height: 400px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-section .top {
  width: 80%;
  height: 100px;
  background-color: aqua;
}

.profile-section .bottom {
  width: 80%;
  height: 100px;
  background-color: yellow;
}
