.main {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 5rem;
}

.popular-topic-cont {
  width: 25%;
  height: 700px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #c0e8c4;
  margin-top: 75px;
  border-radius: 28px;
}

.popular-topic-cont .heading-cont {
  width: 100%;
  height: 110px;
  background-color: #c0e8c4;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  box-shadow: 0 14px 16px 0px rgb(128, 128, 128, 0.5);
  z-index: 10;
}

.popular-topic-cont .card-cont {
  width: 99%;
  border-radius: 15px;
  overflow: auto;
  margin-bottom: 10px;
  box-shadow: 0 14px 16px 0px rgb(128, 128, 128, 0.5);
}

/* .popular-topic-cont .bottom {
  width: 100%;
  height: 100px;
  background-color: red;
  align-self: flex-ends;
} */

.popular-topic-cont h3 {
  font-size: 2rem;
  font-family: Poppins-Bold;
  text-align: center;
  color: #34593e;
}

.popular-topic-cont .pop-card {
  width: 330px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  border-radius: 8px;
  background-color: #e3ffe3;
  margin-bottom: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.pop-card .pop-left {
  width: 60%;
}

.pop-left h4 {
  font-size: 1.1rem;
  margin-top: 18px;
  margin-bottom: 0;
  /* font-weight: 600; */
  color: #34593e;
}

.pop-left h4 span,
.pop-left h5 span {
  font-size: 1rem;
  font-family: sans-serif;
}

.pop-left h5 {
  font-size: 1.1rem;
  margin-top: 5px;
  color: #34593e;
}

.pop-card .pop-right {
  width: 30%;
  height: 90px;
}

.pop-right img {
  width: 100%;
  height: 100%;
}

/* blog detail */

.blog-detail {
  width: 68%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.blog-detail h1 {
  font-size: 2.5rem;
  font-family: Poppins-Bold;
  text-align: center;
  color: #548940;
}

.blog-detail p {
  font-size: 1.2rem;
  line-height: 2rem;
}

.blog-detail .blog-img {
  width: 65%;
  height: 50vh;
  margin-bottom: 15px;
}

.blog-detail .blog-img img {
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 15px grey;
}

.blog-detail .btn {
  margin-top: 3.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5em;
}
/*
.blog-detail .btn button {
  padding: 6px 16px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
} */

/* markdown style */
.file img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* comment section */

.comments-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  width: 60%;
}
.comment-form input {
  height: 20px;
  padding: 0.5rem;
}
.comment-form textarea {
  padding: 0.5rem;
  min-height: 4rem;
  margin-top: 0.5rem;
}
.comment-form input,
.comment-form textarea {
  border: 0;
  outline: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s;
}

.comment-form button {
  max-width: 50%;
  transform: translateX(50%);
  border: 0;
  height: 3rem;
  padding: 0.5rem;
  box-shadow: 0 0 3px #c1e4c5;
  border-radius: 15px;
  margin-top: 0.5rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(
    to right,
    rgba(122, 193, 132, 1),
    rgba(191, 227, 195, 1),
    rgba(122, 193, 132, 1)
  );
  font-weight: 600;
  /* color: ; */
  transition: opacity 0.2s;
}

.comment-form button:hover {
  opacity: 0.9;
}

.comment-form input:focus,
.comment-form textarea:focus {
  box-shadow: 0 0 5px rgba(122, 193, 132, 1);
}

.comment-container {
  background-image: linear-gradient(
    290deg,
    #ffffff 2%,
    rgba(122, 193, 132, 0.25)
  );
  border-radius: 1rem;
  width: 95%;
  display: grid;
  grid-template-columns: 35% 1fr;
  margin: auto;
  margin-top: 35px;
  /* border: 6px dashed black; */
  gap: 1em;
  box-shadow: 0 0 10px rgba(191, 227, 195, 0.7);
}
.left {
  padding: 5rem 0 2rem 2rem;
}
.left img {
  max-width: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0.5rem;
}

.comment-container h3 {
  font-weight: 500;
  font-size: 1.5rem;
}

.commentor-name {
  font-size: 1.5rem;
  font-size: 600;
}

.comment-days,
.comment-text {
  color: rgba(0, 0, 0, 0.7);
}

.comment {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}

.comment .text-content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.comment .img,
.comment img {
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 50%;
}

button:hover {
  cursor: pointer;
}
.btn button {
  outline: none;
  border: none;
  border-radius: 50%;
  background-image: linear-gradient(to right, #e3ffe3, #e3ffe3);
  height: 60px;
  width: 59px;
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  text-align: center;
  /* background-image: linear-gradient(to right, #FFFFFF, #7AC184); */
  /* C1E4C5  BFE3C3 7AC184*/
}
.favIcon {
  background: linear-gradient(to right, white, red);
}

.as {
  font-size: 2.5rem !important;
}
.like-button,
.as {
  transition: 0.3s;
}
.like-btn:hover {
  background-image: linear-gradient(to right, #c1e4c5, #7ac184);
  /* box-shadow: ; */
}
.like-btn:hover .as {
  fill: white;
}

/* interesting topic section */

.interest-cont {
  width: 100%;
  padding: 6px 0;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 0rem;
}

.interest-cont .pagination {
  display: none;
}

.interest-cont h3 {
  margin-left: 3rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

/* responsive design */
@media (max-width: 840px) {
  .main {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .popular-topic-cont {
    order: 1;
    width: 95%;
  }

  .blog-detail {
    width: 95%;
  }

  .comment-container {
    grid-template-columns: auto;
    grid-template-rows: 3rem 1fr;
  }

  .left {
    opacity: 0.7;
    z-index: -1;
  }
  .right {
    padding: 0 1.5rem;
  }
}

@media (max-width: 450px) {
  .blog-detail .blog-img {
    width: 98%;
  }

  .blog-detail .btn {
    width: 80%;
  }
}

/* width */
.popular-topic-cont .card-cont::-webkit-scrollbar {
  width: 18px;
}

/* Track */
.popular-topic-cont .card-cont::-webkit-scrollbar-track {
  margin-top: 20px;
  box-shadow: inset 0 0 3px grey;
  border-bottom-right-radius: 10px;
  background-color: rgb(255, 255, 255, 0.2);
}

/* Handle */
.popular-topic-cont .card-cont::-webkit-scrollbar-thumb {
  background: #aec5b0;
  border-radius: 10px;
}

/* Handle on hover */
.popular-topic-cont .card-cont::-webkit-scrollbar-thumb:hover {
  background: #a0b2a2;
}
