.bannertext-container {
  width: 46%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 26%;
  margin-top: 18%;
  text-align: center;
}

.social-icons {
  position: absolute;
  bottom: 5px;
  left: 0.5%;
}

.social-icons .instagram-icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons .instagram-icon img {
  width: 100%;
  height: 100%;
}

.bannertext-container h1 {
  font-weight: 600;
  font-size: 1.4rem;
  margin-top: -10px;
  margin-bottom: 3px;
  color: #447e06;
  font-family: "DM Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

/* social icon style */

/* .bannertext-container .social-container h3 {
  font-size: 0.9rem;
  margin-bottom: 3px;
  color: #5b9738;
} */

/* .social-container .social-icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.social-icons div {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #61a23b;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons img {
  color: white;
  width: 15px;
  height: 15px;
} */

/* responsive style */
@media (max-width: 1205px) {
  .bannertext-container {
    width: 58%;
    margin-left: 20%;
    margin-top: 20%;
  }
}

@media (max-width: 1102px) {
  .bannertext-container {
    width: 68%;
    margin-left: 16%;
    margin-top: 25%;
  }
}

@media (max-width: 1036px) {
  .bannertext-container {
    width: 70%;
  }
}

@media (max-width: 902px) {
  .bannertext-container {
    width: 100%;
    margin-left: 3%;
  }
}

@media (max-width: 747px) {
  .bannertext-container {
    width: 100%;
    margin-left: 1%;
    margin-top: 35%;
  }
}

@media (max-width: 672px) {
  #banner {
    height: 400px;
  }

  .bannertext-container {
    width: 75%;
    margin-left: 12%;
    margin-top: 29%;
  }
}

@media (max-width: 580px) {
  .bannertext-container {
    width: 95%;
    margin-left: 4%;
    margin-top: 35%;
  }
}

@media (max-width: 450px) {
  #banner {
    height: 300px;
  }

  .bannertext-container {
    margin-top: 35%;
  }

  .bannertext-container h1 {
    font-size: 1rem;
  }
}
