html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  /* font-size: 14px; */
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

.swiper-pagination .swiper-pagination-bullet {
  padding: 5px;
  margin-left: 15px !important;
}

.swiper-slide {
  /* width: 357px !important; */
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review-card {
  width: 283px;
  height: 260px;
  /* background-color: brown; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.review-card .swiper {
  width: 98%;
}

.review-card .card {
  width: 400px !important;
  height: 100%;
  background-color: #e3ffe3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 18px;
}

.review-card .card:hover {
  transform: scale(1.2);
  box-shadow: -3px 3px 46px 24px #8bce8e;
}

.review-card .card .text {
  width: 95%;
  color: #617566;
  font-family: Poppins-Medium;
}

.review-card .card .name-pic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
}

.review-card .card .name-pic .img {
  width: 70px;
  height: 70px;
  background-color: aqua;
  border-radius: 50%;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-card .card .name-pic .img img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.review-card .card .name-pic span {
  color: #34593e;
  font-family: Poppins-SemiBold;
  font-size: 1.5rem;
}
